@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
/* -------------------------------------header ----------------------------------*/
header {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  z-index: 5;
  transition: 0.25s;
  display: flex;
  justify-content: space-between;
}
a {
  color: black;
}
.main-menu {
  margin-top: auto;
  height: 60%;
  display: flex;
  margin-left: 3%;
  font-size: 16px;
  align-items: flex-start;
}
.main-menu li {
  height: 100%;
  padding: 0 14px;
}
.main-menu li a {
  color: black;
}
.logo {
  height: 100%;
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.logo img {
  height: 300%;
  margin-top: -100px;
  margin-left: -58px;
}
.right-header {
  position: relative;
  margin-right: 3%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-action {
  display: flex;
  color: black;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-form input {
  height: 40px;
  width: 240px;
  border: 1px solid #e7e8e9;
  float: right;
  outline: none;
  font-size: 15px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 100px;
  transition: 0.3s;
}
.right-header i {
  margin: 0 15px;
  font-size: 20px;
}
.search-form input:hover {
  box-shadow: inset 250px 0 0 0 #e5e5e5;
}
.search-form i {
  position: relative;
  margin-right: -40px;
}
.support {
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
.hideb {
  visibility: hidden;
}
.trogiup {
  position: absolute;
  font-size: 15px;
  padding: 15px;
  right: 15px;
  top: 100px;
  height: 260px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #636571;
  z-index: 7;
}
.trogiup a {
  color: black;
  display: flex;
  margin: 10% 0;
}
.overlay-trogiup {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
}
.trogiup p {
  margin-left: 40px;
}
.trogiup p:nth-child(1) {
  margin-left: unset;
  text-align: center;
  padding-bottom: 5px;
}
.trogiup i {
  margin: 0;
}
.bars {
  display: none;
}
.sub-menu {
  position: absolute;
  width: 100vmax;
  margin-top: 38px;
  left: 0;
  background-color: white;
  padding: 35px 0 25px 0;
  font-size: 16px;
  visibility: hidden;
  border-bottom: 1px solid #e5e5e5;
  right: 0;
  z-index: 3;
  transition: 0.1s;
}
.item-list-submenu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-menu > li:hover .item-list-submenu {
  animation: hieuungmenu 0.3s linear;
}
.sub-menu a:hover {
  text-decoration: underline;
}
.main-menu > li:hover .sub-menu {
  visibility: unset;
}
.main-menu > li:hover {
  border-bottom: 2px solid black;
}
.sub-menu div {
  margin-right: 40px;
}
.sub-menu div:last-child {
  margin-right: 0;
}

.sub-menu a {
  display: table;
  margin-bottom: 12px;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 5;
}
.menu-mobile {
  overflow: hidden;
  display: none;
}
@keyframes hieuungmenu {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fix-header {
  height: 170px;
  width: 100%;
}
.wall-header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  transition: 0.25s;
  border-bottom: 1px solid #f1f1f1;
  background-color: white;
}
.title-product {
  font-size: 24px;
  margin-left: 4%;
}
.filter-prod {
  height: 40px;
  margin-right: 80px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 230px;
  border: 1px solid #999;
}
.wall-header h4 {
  align-items: center;
}
.wall-header .select {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#filter-prod-open:checked ~ .sub-filter-prod {
  visibility: visible;
  opacity: 1;
  max-height: 400px;
}
.icon-filter {
  display: none;
}
.sub-filter-prod {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #999;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}
.sub-filter-prod .icon-down i {
  transition: 0.5s;
}
.sub-filter-prod a {
  display: table;
  margin: 15px 0;
  margin-left: 20px;
  transition: 0.25s;
}
.sub-filter-prod a:hover {
  margin-left: 30px;
}
.sub-filter-sale {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}
.sub-filter-sale > div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sub-filter-sale input {
  height: 20px;
  width: 20px;
  margin: 0 20px;
}
.sub-filter-sale-open:checked ~ .sub-filter-sale {
  display: block;
}
/* ---------------------------------main---------------------------------- */

.container {
  position: relative;
  width: 100%;
  display: flex;
}
.sidebar-prod {
  position: relative;
  width: 20%;
  border-right: 1px solid #e5e5e5;
}
.filter-by-side {
  position: fixed;
  width: 20%;
  height: 520px;
  top: 170px;
  transition: 0.25s;
}
.main-prod {
  width: 80%;
}
.list-side {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 390px;
}
.list-side::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  border-radius: 100rem;
}
.list-side::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 100rem;
}
.item-side {
  width: 100%;
}
.rotate180 {
  transform: rotate(180deg);
}
.filter-by-side .select {
  padding: 0 10px;
  height: 60px;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.icon-down i {
  transition: 0.3s;
}
.sub-filter-size {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}
.sub-filter-color {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}
.sub-filter-color span {
  height: 18px;
  width: 18px;
  margin: 10px;
  border-radius: 50%;
  outline-style: solid;
  outline-color: black;
  outline-width: 0.5px;
  cursor: pointer;
  overflow: hidden;
}
.sub-color:checked ~ .sub-filter-color {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sub-size:checked ~ .sub-filter-size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sub-price:checked ~ .sub-filter-price-input {
  display: block;
}
.size ul li {
  padding: 4px 2px;
  margin: 10px 20px;
  background-color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}
.active-size {
  color: white;
  background-color: black !important;
}
.active-color {
  outline-width: 3px !important;
}
.sub-filter-price-input {
  display: none;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.price-number {
  width: 100%;
  display: flex;
  padding: 10px;
}
.sub-filter-price-input .field {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  outline: none;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  -moz-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.sub-filter-price-input .separator {
  width: 60px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.price-slider {
  height: 5px;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
}
.price-slider .progress {
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  background-color: black;
  pointer-events: auto;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  background-color: black;
  pointer-events: auto;
}
.btn-filter {
  margin: 0 auto;
  margin-top: 70px;
  height: 44px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-filter button {
  height: 100%;
  width: 90px;
  margin: 0 30px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  font-size: 17px;
  transition: 0.4s;
  cursor: pointer;
  background-color: white;
}
.btn-filter button:hover {
  background-color: black;
  color: white;
}
/* ---------------------------- */
.listProd {
  width: 100%;
  display: grid;
  gap: 50px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
}
.itemProd {
  outline-style: solid;
  outline-color: #e5e5e5;
  outline-width: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nameProd {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
}
.price-bag {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px;
}
.addbag {
  font-size: 25px;
}
.itemProd .imgProd {
  width: 100%;
  transition: 0.25s;
  display: flex;
}
.imgProd:hover {
  transform: translateX(-100%);
}
.itemProd .imgProd img {
  width: 100%;
  object-fit: cover;
}
/* -------------------------------------footer ---------------------------------*/
.footer {
  margin-top: 70px;
  background-color: #1e1d20;
  padding: 70px 0;
}
.container-footer {
  max-width: 1500px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > div {
  width: 20%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0ffff8;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  transition: 0.25s ease;
}
.footer-col ul li a:hover {
  color: white;
  padding-left: 10px;
}
.footer-col .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: 0.3s ease;
}
.footer-col .social-link a:hover {
  background-color: white;
  color: black;
}
.rightfooter {
  width: 100%;
}
.dkthongbao {
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  padding: 15px 0;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 2px solid white;
}
.textthongbao {
  width: 85%;
  margin: 0 auto;
  color: white;
}
.dkthongbao input {
  height: 45px;
  width: 55%;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #636571;
  outline: none;
  color: white;
  margin-left: 8%;
  background-color: #1e1d20;
}
.dkthongbao button {
  height: 45px;
  width: 30%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.dkthongbao button:hover {
  background-color: white;
  color: black;
}
/* --------------------------------reponsive ---------------------*/
/* ------Mobile & Tablet------ */

@media only screen and (max-width: 1233px) {
  /* ---------header------ */
  .phu {
    width: 100%;
  }
  .fix-header {
    height: 69px;
  }
  .logo {
    position: unset;
    left: 0;
    transform: translate(0);
  }
  .logo img {
    margin-top: -70px;
    margin-left: -20px;
  }
  header {
    width: 100%;
    height: 69px;
    border: none;
    display: flex;
    justify-content: space-between;
  }
  .account,
  .search-form input,
  .fa-user-large,
  .fa-headset {
    display: none;
  }
  .support {
    display: none;
  }
  .bars {
    display: block;
  }
  .search-form {
    margin-right: 15px;
  }

  /* ------------main------------ */
  /* ----menu mobile------ */
  .fix-header {
    height: 139px;
  }
  .main-menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: fixed;
    height: 100vh;
    width: 80%;
    background-color: white;
    z-index: 5;
    right: 0;
    padding: 20px 10px;
    transform: translateX(100%);
    transition: 0.25s;
  }
  .check-menu:checked ~ .menu-overlay {
    display: block;
  }
  .check-menu:checked ~ .menu-mobile {
    transform: translateX(0);
  }
  .close-menu {
    font-size: 25px;
    margin-left: 90%;
    margin-top: 5%;
  }
  .main-menu-mobile {
    transform: translateX(0);
    transition: 0.25s;
    position: absolute;
    width: 100%;
  }
  .main-menu-mobile > div {
    margin: 8% 0;
    display: flex;
  }
  .main-menu-mobile p {
    font-size: 20px;
    margin-left: 30px;
  }
  .login-support {
    margin: auto !important;
    margin-top: 400px !important;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .login-inmenu-mobile {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .login-inmenu-mobile p {
    margin: 0 !important;
  }
  .support-inmenu-mobile {
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding-left: 10px;
  }
  .support-inmenu-mobile i {
    display: block;
  }
  .check-nextmenu:checked ~ .main-menu-mobile {
    transform: translateX(-100%);
  }
  .main-menu-mobile > div > input:checked ~ .submenu-mobile {
    visibility: visible;
  }
  .next-submenu {
    position: absolute;
    padding-left: 88%;
  }
  .pre-submenu-1,
  .pre-submenu {
    display: flex;
    width: 5px;
  }
  .hideb {
    display: none;
  }
  .submenu-mobile {
    position: absolute;
    width: 100%;
    transform: translateX(110%);
    transition: 0.25s;
    top: 0%;
  }
  .submenu-mobile h6 {
    margin-top: 20px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .submenu-mobile p {
    font-size: 18px;
    margin-left: 10px;
  }
  .submenu-mobile .submenu-mobile-2 p {
    margin-left: 0;
    color: #636571;
  }
  .next-submenu-2 {
    position: absolute;
    padding-left: 74%;
  }
  .submenu-mobile-2 > div {
    display: flex;
    margin: 8% 0;
  }
  .next-submenu-2 i {
    color: #636571;
  }
  .submenu-mobile-3 {
    position: absolute;
    width: 100%;
    transform: translateX(98%);
    top: 0%;
  }
  .submenu-mobile-3-detail a {
    display: table;
    margin: 8% 0;
  }
  .check-nextmenu-2:checked ~ div > .submenu-mobile {
    transform: translateX(14%);
  }
  .list-menu {
    position: relative;
  }
  .pre-submenu-1 p {
    margin-left: 15px !important;
    color: black !important;
  }
}
/* ------- Mobile -------- */
@media only screen and (max-width: 739px) {
  .search-form i {
    margin-right: 0;
  }
  .nameProd {
    font-size: 16px;
  }
  .price-bag {
    font-size: 15px;
  }
  .listProd {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .sidebar-prod {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .filter-by-side {
    width: 100%;
    position: absolute;
    background-color: white;
    top: unset;
    border-bottom: 1px solid #999;
    transition: 0.3s;
    z-index: 7;
  }
  .btn-filter button,
  .icon-down i {
    transition: none;
  }
  .main-prod {
    width: 100%;
    padding: 5px;
  }
  .listProd {
    padding: 0;
  }
  .wall-header {
    display: unset;
    height: unset;
    margin-top: 69px;
    padding: 0 10px;
  }
  .wall-header .select {
    margin: 0 10px;
  }
  .filter-prod {
    font-size: 15px;
    width: 180px;
    margin-right: 10px;
    height: 35px;
  }
  .icon-filter {
    display: block;
    height: 100%;
    align-items: center;
    border: 1px solid #999;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .icon-filter i {
    padding: 8px;
    font-size: 17px;
  }
  .all-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
  }
  .overlay-filter {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 6;
  }
  .hidec {
    visibility: hidden;
  }
  .imgProd:hover {
    transform: none;
  }

  /* -----------footer----------- */
  .footer {
    margin-top: 10px;
    padding: 30px 0;
  }
  .footer-col ul li a {
    font-size: 14px;
  }
  .row > div {
    width: 50%;
    margin-bottom: 20px;
  }
  .dkthongbao {
    width: 200%;
  }
}
